<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>


<body>

   

    <div class="main">

        <div class="box">
            <div class="header">
                <div>
                    <span id="NetFlix">
                        <img class="svg" src="/static/img/logo.svg" alt="">
                    </span>
                </div>
                <div class="navButton">
                    <div class="select">
                        <select  id="select">
                            <option value="">
                                English
                            </option>
                            <option value="">
                                Hindi
                            </option>
                        </select>
                    </div>
                    <button id="SignIn">Sign In</button>
                </div>
                
            </div class='titlse-div'>
         
                <div class="title">
                    <span >Unlimited movies, TV <br>shows and more</span><br>
        
                </div>
                <span id="plan">Starts at ₹149. Cancel anytime.</span>
                <span id="membership">Ready to watch? Enter your email to create or restart your membership.</span>
        
                <div class="getstarted">
                    <input class="getstarted-input" type="text" placeholder="Email Adress">
                    <button id="getstarted-button">Get Started &gt;</button>
        
                </div>
        </div>
    </div>
    <div class="main2">
        <div class="line"> 

        </div>
        <div class="trendng-now">
            <h2>Trending Now</h2>
    
            <div class="boxes">
    
                <div class="Lang-box">
                    
                </div>
                <select name="" id="Lang-select">
                    <option value="">India</option>
                </select>
    
    
                <select name="" id="Movie-select">
                    <option value="">Movie</option>
                </select>
            </div>    
           
           
        </div>
       
       
    </div>
    <div class="cardcontainer">
        <div class="card-container1">
            <div ><img class="card" src="/static/img/img1.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img2.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img3.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img4.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img5.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img6.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img7.webp" alt=""></div>
            <div ><img class="card" src="/static/img/img8.webp" alt=""></div>
        </div>
       
        <span class="Right"><i>></i></span>
        <span class="left"><i><</i></span>

    </div>
   
   <span id="More">More reasons to join</span>
    
    <div class="card-container2">
       
        <div class="card1">
            <h2>Enjoy on your TV</h2><br>
            <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            <img class="img" src="/static/img/desktop.png" alt="">
        </div>

        <div class="card1">
            <h2>Download your shows to watch offline</h2><br>
            <p>Save your favourites easily and always have something to watch..</p>
            <img class="img" src="/static/img/down.png" alt="">

        </div>


        <div class="card1">
            <h2>Watch everywhere</h2><br>
            <p>Stream unlimited movies and TV shows on your phone, tablet, laptop and TV.</p>
            <img class="img" src="/static/img/watch.png" alt="">

        </div>


        <div class="card1">

            <h2>Create profiles for kids</h2><br>
            <p>Send kids on adventures with their favourite characters in a space made just for them — free with your membership</p>
            <img class="img" src="/static/img/create.png" alt="">
        </div>
        
    </div>
  
    <span id="Questions">Frequently Asked Questions</span>

    <div class="infos">
        <div class="info-section">
            <button class="info infobutton">
                What is Netflix?
                <i>+</i>
            </button>
            <div class="description dis1">
                <h3>Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more – on thousands of internet-connected devices.</h3>
            </div>
        </div>
        
        <div class="info-section">
            <button class="info infobutton">
                How much does Netflix cost?
                <i>+</i>
            </button>
            <div class="description">
                <h3>Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from ₹149 to ₹649 a month. No extra costs, no contracts..</h3>
            </div>
        </div>
        
        <div class="info-section">
            <button class="info infobutton">
                Where can I watch?
                <i>+</i>
            </button>
            <div class="description">
                <h3>Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.

                    You can also download your favourite shows with the iOS or Android app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere..</h3>
            </div>
        </div>
        
        <div class="info-section">
            <button class="info infobutton">
                How do I cancel?
                <i>+</i>
            </button>
            <div class="description">
                <h3>Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime.</h3>
            </div>
        </div>
        
        <div class="info-section">
            <button class="info infobutton">
                What can I watch on Netflix?
                <i>+</i>
            </button>
            <div class="description">
                <h3>Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Netflix originals, and more. Watch as much as you want, anytime you want.</h3>
            </div>
        </div>
        
        <div class="info-section">
            <button class="info infobutton">
                Is Netflix good for kids?
                <i>+</i>
            </button>
            <div class="description">
                <h3>The Netflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows and films in their own space.

                Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch and block specific titles you don’t want kids to see.</h3>
            </div>
        </div>
    </div>

    <span id="membership">Ready to watch? Enter your email to create or restart your membership.</span>
    <form class="form" action="">
        <input class="input" type="text" placeholder="Email Address">
        <button id="getstarted">Get Started &gt;</button>
    </form>

    <span id="Call">Questions? Call <a href="">000-800-919-1694</a></span>
    
    <div class="footer">
        <div class="box1">
            <a href="#">FAQ</a>
            <a href="#">Investor Relations</a>
            <a href="#">Privacy</a>
            <a href="#">Speed Test</a>
        </div>
        <div class="box1">
            <a href="#">Help Centre</a>
            <a href="#">Jobs</a>
            <a href="#">Cookie Preferences</a>
            <a href="#">Legal Notices</a>
        </div>

        <div class="box1">
            <a href="#">Account</a>
            <a href="#">Ways to Watch</a>
            <a href="#">Corporate Information</a>
            <a href="#">Only on Netflix</a>
            
        </div>

        <div class="box1">
            <a href="#">Media Centre</a>
            <a href="#">Terms of Use</a>
            <a href="#">Corporate Information</a>
            <a href="#">Contact Us</a>
        </div>
    </div>

    
        <select name="" id="Lag">
            <option value="">English</option>
            <option value="">Hindi</option>
        </select>

        <span id="NTFI">Netflix India</span>
 
        
<script src="/script/script.js"></script>
   
</body>
</html>

